.header {
    height: 120px;
    background-color: #d0011b;
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar__list {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
}

.header__navbar__list__item {
    margin: 0 .6rem;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}

.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item--has-language:hover .header__language {
    display: block;
}


.header__navbar__list__item,
.header__navbar__list__item-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
}


.header__navbar__list__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar__list__item--strong a {
    font-weight: 600;
}

.header__navbar__list__item--separate:after {
    content: "";
    height: 75%;
    width: 0;
    border-left: 1px solid hsla(0, 0%, 100%, .22);
    border-right: 1px solid hsla(0, 0%, 100%, .22);
    position: absolute;
    left: -6px;
    top: calc(50% - 7px);
    background-color: #c83d4d;
}

.header__navber-title--no-pointer {
    cursor: text;
}

/* header QR code */

.header__qr {
    width: 189px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 160%;
    padding: 8px;
    border-radius: 7px;
    display: none;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link {
    margin-right: 10px;
}

/* header notify */
.header__notify {
    width: 400px;
    height: 350px;
    background-color: var(--white-color);
    position: absolute;
    right: 0px;
    top: 100%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: default;
    animation: header__notifyGrowth ease-in 0.2s;
    transform-origin: calc(100% - 10%) top;

}

.header__notify::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}

@keyframes header__notifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__notify_img_ctn {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header__notify-img {
    width: 100px;
    margin-bottom: 25px;
}

.header__notify-ctn {
    color: var(--black-color);
}

/* header language */
.header__language {
    width: 200px;
    height: 80px;
    background-color: var(--white-color);
    position: absolute;
    right: 0px;
    top: 150%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 1;
    cursor: default;
    animation: header__languageGrowth ease-in 0.2s;
    transform-origin: calc(100% - 10%) top;

}

.header__language .header__select-language a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 8px;
}


.header__language .header__select-language:hover a{
    color: orange;
}

.header__language::before {
    content: "";
    border-width: 20px 30px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}


@keyframes header__languageGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.header__select-language {
    list-style: none;
    display: block;
}