.header {
    height: 120px;
    background-color: #d0011b;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar__list {
    cursor: pointer;
    list-style: none;
    padding-left: 0;
}
.header__navbar__list__item {
    margin: 0 .6rem;
    position: relative;
}

.header__navbar-item--has-qr:hover .header__qr {
    display: block;
}
.header__navbar__list__item,
.header__navbar__list__item-link {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 300;
}


.header__navbar__list__item-link:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__navbar__list__item--strong a {
    font-weight: 600;
}

.header__navbar__list__item--separate:after {
    content: "";
    height: 75%;
    width: 0;
    border-left: 1px solid hsla(0,0%,100%,.22);
    border-right: 1px solid hsla(0,0%,100%,.22);
    position: absolute;
    left: -6px;
    top: calc(50% - 7px);
    background-color: #c83d4d ;
} 

.header__navber-title--no-pointer {
    cursor: text;
}

/* header QR code */

.header__qr {
    width: 189px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 160%;
    padding: 8px;
    border-radius: 7px;
    display: none;
}

.header__qr::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    display: block;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;
}

.header__qr-apps {
    display: flex;
    justify-content:space-between;
}

.header__qr-download-img {
    height: 16px;
}

.header__qr-link {
    margin-right: 10px;
}